{%extends 'templates/layout.html' %}
{% block content %}

<script type="text/javascript" src="http://canvg.github.io/canvg/rgbcolor.js"></script> 
<script type="text/javascript" src="http://canvg.github.io/canvg/StackBlur.js"></script>
<script type="text/javascript" src="http://canvg.github.io/canvg/canvg.js"></script> 
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!-- end of goole gauge -->

<div class="container">
<div class='outer'>
<div class='inner'>
<div class='centered'>
	<div id='leftBox' class='csLeftBox'>
		<div class='head title1'>
			<span id='stater' class='csStateLampReady'>대기중</span>
			<span class="title1 titleName">인버터 스코프</span>
		</div>
		<div id="oscope-parent" class="csOscope">
			<canvas id="oscope" class="oscope-canvas" width='600' height='450'></canvas>
		</div>
		<div class="BottomBox">
			<div id="hr1"></div>
			<div id="hr2"></div>
			<div id="hr3"></div>
			<div id="hr4"></div>
		</div>
		<div class="Namebox">
			<div id="name1">I-out</div>
			<div id="name2">I-pri</div>
			<div id="name3">Vdc</div>
			<div id="name4">V-out</div>
		</div>
		<div id='bottomBox' class='csBottomBox'> 
				<button id='btnTraceOnOff' 		class='w3-button w3-round w3-red    w3-large' onclick='btnTraceOnOff()'>측정시작</button>
				<button id='btnReadAll' 	class='w3-button w3-round w3-green  w3-large' onclick='btnReadAll()'>ReadAll</button>
				<button id='btnMonitor'	class='w3-button w3-round w3-blue   w3-large' onclick='btnMonitor()'>모니터시작</button>
				<button id='btnRestart' class='w3-button w3-round w3-indigo w3-large' onclick='btnRestart()'>동작버튼4</button>
				<button id='btnNoVac' 	class='w3-button w3-round w3-green  w3-large' onclick='changeNoVac()'>동작버튼5</button>
			<!--	<span id='idVacRec' 	class='csVacRec'>1</span> -->
		</div>
		<div id='timeStampBox' class = 'csTimeStampBox'>
			<span class='titleName1'>경과시간></span>
			<span id='endTimeStamp' class='titleName1'>00시간 00분 00초</span>
			<span class='titleName'>현재시간</span>
			<span id='clock1' class='titleName'>2018:02:07: 10:10:00</span>
			<br>	
			<span class='titleName1'> 시작시간</span>
			<span id='startTimeStamp' class='titleName1'>2018:02:07: 10:10:00</span>
			<span class='titleName'>정지시간</span>
			<span id='endTimeStamp' class='titleName'>2018:02:07: 10:10:00</span>
		</div>

		<div id='stopRecordBox' class = 'csTripMsgBox'>
			<div class='titleName'>monitor</div>
			<textarea id='stopRecord' class='csStopRecord' rows="5" cols="80">
			</textarea>
		</div>
	</div> <!-- end of leftBox -->

	<div class='csRightBox'>
		<div id ='codeEdit' class ='csCodeEdit'>
			<textarea id='txtCodeEdit1' class='csCodeEdit' rows="1" cols="2">  0	</textarea>
			<textarea id='txtCodeEdit2' class='csCodeEdit' rows="1" cols="10"> 0	</textarea>
			<button id='btnReadCode' 	class='w3-button w3-round w3-green' onclick='btnReadCode()'>Read</button>
			<button id='btnWriteCode' 	class='w3-button w3-round w3-red  ' onclick='btnWriteCode()'>Write</button>
			<br>
			<span id='codeEditResult' class='csCodeEditResult'>read result</span>
 		<div>
		<div id ='codeTable' class ='csCodeTable'>
			<textarea id='txtCodeTable' class='csTxtCodeTable' rows="20" cols="35">	</textarea>
		</div>

		<!-- cursor select -->
		<span class="label label-default " title="select a cursor to place on the display">Cursor Select</span>
		<div class = "btn-group btn-group-md " data-toggle="buttons">
			<div>
				<label class="btn btn-primary btn-margin activ" title="vertical cursor 1">
					<input type='radio' name="cursor" id="vcursor1" checked >V1
				</label>
				<label class="btn btn-primary btn-margin" title="vertical cursor 2">
					<input type='radio' name="cursor" id="vcursor2" >V2
				</label>
				<label class="btn btn-primary btn-margin" title="horizontal cursor 1">
					<input type='radio' name="cursor" id="hcursor1" >H1
				</label>
				<label class="btn btn-primary btn-margin" title="horizontal cursor 2">
					<input type='radio' name="cursor" id="hcursor2" >H2
				</label>
			</div>
			<div>
				<span class='csCurPosi'>H Start</span>
				<span id='curHoriStartPosi' class='csCurPosi'>2047</span>
				<span class='csCurPosi'>H End</span>
				<span id='curHoriEndPosi' class='csCurPosi'>2047</span>
				</br>	
				<span class='csCurPosi'>V Start</span>
				<span id='curVerStartPosi' class='csCurPosi'>300</span>
				<span class='csCurPosi'>V End</span>
				<span id='curVerEndPosi' class='csCurPosi'>400</span>
			</div>

			 <div class="label label-default " title="select how many volts one vertical division represents">Volts/Div</div>
			<div class="btn-group btn-group-md" data-toggle="buttons">
            <div>
              <label class="btn btn-primary btn-margin">
                <input class="vdiv" type="radio" name="vdiv" id="volts10" >0.1
              </label>
              <label class="btn btn-primary btn-margin active">
                <input class="vdiv" type="radio" name="vdiv" id="volts25" >0.2
              </label>
              <label class="btn btn-primary btn-margin ">
                <input class="vdiv" type="radio" name="vdiv" id="volts50" >0.5
              </label>
              <label class="btn btn-primary btn-margin">
                <input class="vdiv" type="radio" name="vdiv" id="volts100" checked >1.0
              </label>
            </div>
          </div>

          <div class="w100"></div>
			<form>
          <div class="label label-default" title="enter offset value">CH0 offset</div>
           <input id='ch0Offset' type="number" class="form-control offset" value="1800" min="1" step="1" size="5">

          <div class="w100"></div>
          <div class="label label-default" title="enter offset value">CH1 offset</div>
          <div>
            <input id='ch1Offset' type="number" class="form-control offset" value="1800" min="1" step="1">
          </div>
          <div class="w100"></div>

          <div class="w100"></div>
          <!-- Sample Rate -->
          <div class="label label-default" title="enter offset value">CH2 offset</div>
          <div>
            <input id='ch2Offset' type="number" class="form-control offset" value="1800" min="1" step="1">
          </div>
          <div class="w100"></div>
          <div class="w100"></div>
          <!-- Sample Rate -->
          <div class="label label-default" title="enter offset value">CH3 offset</div>
          <div>
            <input id='ch3Offset' type="number" class="form-control offset" value="1800" min="1" step="1">
          </div>
          <div class="w100"></div>
			</form>
	</div>
	<div> 
</div>
</div>
</div>
</div>

<!-- control handlers -->
<script>
var msgTx = { selVac: 0};
var traceOnOff = 0;
var monitorOnOff = 0;


  function btnTraceOnOff(){
		monitorOnOff = 0;
		document.getElementById('btnMonitor').innerHTML = '모니터시작';

		if( traceOnOff ){
			traceOnOff = 0 ;
			document.getElementById('btnTraceOnOff').innerHTML = '측정시작';
		}else{
			traceOnOff = 1;
	  		document.getElementById('btnTraceOnOff').innerHTML = '측정중지';
		}
		socket.emit('traceOnOff',traceOnOff);
		
	}

function btnReadAll(){
	socket.emit('getCodeList',0);
}

function btnMonitor(){
	traceOnOff = 0;
	document.getElementById('btnTraceOnOff').innerHTML = '측정시작';
	if( monitorOnOff ){
		monitorOnOff = 0 ;
		document.getElementById('btnMonitor').innerHTML = '모니터시작';
	}else{
		monitorOnOff = 1;
		document.getElementById('btnMonitor').innerHTML = '모니터정지';
	}
	socket.emit('monitor',monitorOnOff);
}

function btnRestart(){
	msgTx.selVac = 3;
	socket.emit('btnClsik',msgTx);
}

// '9:4:901:0.000e+0'
function getSciCmd( ){

	var returns = 'Invalid number';
	var tmp1 = document.getElementById('txtCodeEdit1').value;
	var tmp2 = document.getElementById('txtCodeEdit2').value;

	tmp1 = tmp1 * 1;
	tmp2 = tmp2 * 1;

	if(isNaN(tmp1)) return returns;
	if(isNaN(tmp2)) return returns;
	if(( tmp1 > 500 ) || ( tmp1 < 0 )) return returns;

	var sciCmd = '9:4:';
	if(tmp1 < 10){
		sciCmd = sciCmd + '00';
	} else if ( tmp1 < 100 ){ 
		sciCmd = sciCmd + '0';
	}

	sciCmd = sciCmd + tmp1 + ':';

	var codeData = tmp2.toExponential(3);
	
	sciCmd = sciCmd + codeData;

	if((sciCmd.length) != 16) return returns;

	return sciCmd;
}

function btnReadCode(){	
	var returns = getSciCmd( );

	//console.log(returns);

	if( returns.length == 16 ){
		socket.emit('codeEdit',returns);
	} else {
		document.getElementById('codeEditResult').innerHTML = returns;
	}	 
}

function btnWriteCode(){
	var returns = getSciCmd( );

	if( returns.length == 16 ){
		var test = returns.replace('4','6');
		socket.emit('codeEdit',test);
	} else {
		document.getElementById('codeEditResult').innerHTML = returns;
	}	 
}

function changeNoVac(){

	var msg = [];
	for( var i = 0 ; i < 600 ; i++){
		msg.push( 1500 + 50 * Math.sin( Math.PI / 30 * i ));
 	}
   traceData0.sample = msg;

	msg =[];
	for( var i = 0 ; i < 600 ; i++){
		msg.push( 1600 + 50 * Math.sin( Math.PI / 30 * i ));
 	}
   traceData1.sample = msg;

	msg =[];
	for( var i = 0 ; i < 600 ; i++){
		msg.push( 1700 + 50 * Math.sin( Math.PI / 30 * i ));
 	}
   traceData2.sample = msg;

	msg =[];
	for( var i = 0 ; i < 600 ; i++){
		msg.push( -1800 + 50 * Math.sin( Math.PI / 30 * i ));
 	}
   traceData3.sample = msg;

   oscope.onPaint(trace);
}


  //--- sampling bits
// =============================================
  // volts per division
  // =============================================

  $('#volts10' ).on('change',null,function() {oscope.onVoltsPerDiv(0.1 );});
  $('#volts25' ).on('change',null,function() {oscope.onVoltsPerDiv(0.25);});
  $('#volts50' ).on('change',null,function() {oscope.onVoltsPerDiv(0.5 );});
  $('#volts100').on('change',null,function() {oscope.onVoltsPerDiv(1.0 );});

  $('.vdiv' ).on('change',null,function(event) {
        oscope.onVoltsPerDiv(parseFloat(event.target.parentElement.innerText));
      }
  );

  // =============================================
  // set offset 
  // =============================================
  $('#ch0Offset' ).on('change',null,
		function(){
			var temp = document.getElementById('ch0Offset').value;
			//console.log(temp);
			// oscope.onVerticalOffset(1,temp);
		}
  );

  // =============================================
  // canvas mouse event for cursor drag
  // =============================================
  var mouse_state = 0;
  $('#oscope').on('mousedown',function(event) {
    mouse_state = 1;

    oscope.onCursorMove(event.offsetX,event.offsetY);
  });

  $('#oscope').on('mouseup',function() {
    mouse_state = 0;

  });

  $('#oscope').on('mouseout',function() {
    mouse_state = 0;
  });

  $('#oscope').on('mousemove',function(event) {
    switch(mouse_state) {
    case 0:
      // do nothing
      break;
    case 1:
      oscope.onCursorMove(event.offsetX,event.offsetY);
		var temp = (225 - event.offsetY) * 4096 / 450;
		var x = document.getElementById('vcursor1').checked;

		if( x ) {
			document.getElementById('curVerStartPosi').innerHTML = parseInt(temp);
		}else{
			document.getElementById('curVerEndPosi').innerHTML = parseInt(temp);
		}
      break;
    }
  });

  // =============================================
  // cursor select
  // =============================================
  $('#hcursor1' ).on('change',null,function() {oscope.onCursorSelect(0);});
  $('#hcursor2' ).on('change',null,function() {oscope.onCursorSelect(1);});
  $('#vcursor1' ).on('change',null,function() {oscope.onCursorSelect(2);});
  $('#vcursor2' ).on('change',null,function() {oscope.onCursorSelect(3);});

  function setChannelOffset(channel,element) {
    var offset = parseInt(element.value);
    if (offset < -4) {
      element.value = "-4";
      offset = -4;
    }
    if (offset > 4) {
      element.value = "4";
      offset = 4;
    }
    oscope.onVerticalOffset(channel,offset);
  }

  $('#channel1v').on('change',null,
      function() {
        var element = $('#channel1v')[0];
        setChannelOffset(1,element);
      }
  );

  $('#channel2v').on('change',null,
      function() {
        var element = $('#channel2v')[0];
        setChannelOffset(2,element);
      }
  );

  $('#channel3v').on('change',null,
      function() {
        var element = $('#channel3v')[0];
        setChannelOffset(3,element);
      }
  );

  $('#channel4v').on('change',null,
      function() {
        var element = $('#channel4v')[0];
        setChannelOffset(4,element);
      }
  );

socket.on('codeTable', function (msg) {
   var testIn = msg.toString();
   //testIn.replace(/:,/g,'\r\n');
   var testIn1 = testIn.replace(/:/g,'\r\n');
   var testOut = testIn1.replace(/,/g,'\t');
   // console.log(testIn);
   document.getElementById('txtCodeTable').innerHTML = testOut;
});

socket.on('codeEdit',function(msg){
	document.getElementById('codeEditResult').innerHTML = msg;
});	

var monitorCount=0;

socket.on('monitor',function(msg){
	
	(monitorCount > 99 ) ? monitorCount = 0 : monitorCount++;

	var msgOut = document.getElementById('stopRecord').innerHTML;
	if((monitorCount %5) == 0 ) msgOut ='';  
	document.getElementById('stopRecord').innerHTML = msgOut + '#'+ monitorCount +' '+ msg;
});	

</script>
{% endblock %}
