{%extends 'templates/layout.html' %}
{% block content %}
<!--
<script src="gauge.min.js"></script>
-->

<div class="container">
<div class='outer'>
<div class='inner'>
<div class='centered'>
	<div id='leftBox' class='csLeftBox'>
		<div class='head title1'>
			<span id='stater' class='csStateLamp'>대기중</span>
			<span class="title1 titleName">일성화이바 오토크레브</span>
		</div>
		<div id="oscope-parent" class="csOscope">
    	<canvas id="oscope" class="oscope-canvas" width='600' height='450'></canvas>
		</div>
		<div id='bottomBox' class='csBottomBox'> 
				<button id='btnEmg' 		class='w3-button w3-round w3-red    w3-xlarge'>비상정지</button>
				<button id='btnStart' 	class='w3-button w3-round w3-green  w3-xlarge'>패턴시작</button>
				<button id='btnStop' 		class='w3-button w3-round w3-blue   w3-xlarge'>패턴정지</button>
				<button id='btnRestart' class='w3-button w3-round w3-indigo w3-xlarge'>재시동</button>
				<button id='btnReset' 	class='w3-button w3-round w3-aqua   w3-xlarge'>-리셋-</button>
		</div>
		<div id='timeStampBox' class = 'csTimeStampBox'>
			<span class='titleName'>경과시간</span>
			<span id='endTimeStamp' class='titleName'>00시간 00분 00초</span>
			<span class='titleName'>현재시간</span>
			<span id='endTimeStamp' class='titleName'>2018:02:07: 10:10:00</span>
			<br>	
			<span class='titleName'> 시작시간</span>
			<span id='startTimeStamp' class='titleName'>2018:02:07: 10:10:00</span>
			<span class='titleName'>정지시간</span>
			<span id='endTimeStamp' class='titleName'>2018:02:07: 10:10:00</span>
		</div>

		<div id='stopRecordBox' class = 'csTripMsgBox'>
			<div class='titleName'>패턴작업정지기록</div>
			<textarea id='stopRecord' class='csStopRecord' rows="5" cols="80"> At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
			</textarea>
		</div>
	</div> <!-- end of leftBox -->

	<div class='csRightBox'>
		<div id="gauge_box" class='gaugeBox'>
			<canvas id='gauge0' class='gC gC0' data-type="radial-gauge" data-width='200' data-height='200'></canvas>
			<canvas id='gauge1' class='gC gC1' data-type="radial-gauge" data-width='200' data-height='200'></canvas>
			<canvas id='gauge2' class='gC gC2' data-type="radial-gauge" data-width='200' data-height='200'></canvas>
			<canvas id='gauge3' class='gC gC3' data-type="radial-gauge" data-width='200' data-height='200'></canvas>
			<canvas id='gauge4' class='gC gC4' data-type="radial-gauge" data-width='200' data-height='200'></canvas>
			<canvas id='gauge5' class='gC gC5' data-type="radial-gauge" data-width='200' data-height='200'></canvas>
			<canvas id='gauge6' class='gC gC6' data-type="radial-gauge" data-width='200' data-height='200'></canvas>
			<canvas id='gauge7' class='gC gC7' data-type="radial-gauge" data-width='200' data-height='200'></canvas>
		</div>
	</div>
</div>
</div>
</div>
</div>

<!-- ================ -->
<!-- control handlers -->
<!-- ================ -->
<script>
  //--- sampling bits

  // =============================================
  // canvas mouse event for cursor drag
  // =============================================
  var mouse_state = 0;
  $('#oscope').on('mousedown',function(event) {
    mouse_state = 1;
    oscope.onCursorMove(event.offsetX,event.offsetY);
  });

  $('#oscope').on('mouseup',function() {
    mouse_state = 0;
  });

  $('#oscope').on('mouseout',function() {
    mouse_state = 0;
  });

  $('#oscope').on('mousemove',function(event) {
    switch(mouse_state) {
    case 0:
      // do nothing
      break;
    case 1:
      oscope.onCursorMove(event.offsetX,event.offsetY);
      break;
    }
  });
  // =============================================
  // cursor select
  // =============================================
  $('#hcursor1' ).on('change',null,function() {oscope.onCursorSelect(0);});
  $('#hcursor2' ).on('change',null,function() {oscope.onCursorSelect(1);});
  $('#vcursor1' ).on('change',null,function() {oscope.onCursorSelect(2);});
  $('#vcursor2' ).on('change',null,function() {oscope.onCursorSelect(3);});

  // =============================================
  // run/stop
  // =============================================
  $('#btn-run' ).on('change',null,function() {oscope.onRunStop(true );});
  $('#btn-stop').on('change',null,function() {oscope.onRunStop(false);});

  // =============================================
  // x axis offset handling
  // =============================================
  function setChannelOffset(channel,element) {
    var offset = parseInt(element.value);
    if (offset < -4) {
      element.value = "-4";
      offset = -4;
    }
    if (offset > 4) {
      element.value = "4";
      offset = 4;
    }
    oscope.onVerticalOffset(channel,offset);
  }

  $('#channel1v').on('change',null,
      function() {
        var element = $('#channel1v')[0];
        setChannelOffset(1,element);
      }
  );

  $('#channel2v').on('change',null,
      function() {
        var element = $('#channel2v')[0];
        setChannelOffset(2,element);
      }
  );

  $('#channel3v').on('change',null,
      function() {
        var element = $('#channel3v')[0];
        setChannelOffset(3,element);
      }
  );

  $('#channel4v').on('change',null,
      function() {
        var element = $('#channel4v')[0];
        setChannelOffset(4,element);
      }
  );
</script>
{% endblock %}

