body {
  padding: 50px;
  font: 14px "Courier New", Courier,monospace;
}

a {
  color: #00B7FF;
}

.oscope-canvas {
}

.row {
  background-color: lightgray;
  padding-top:10px;
  padding-bottom:10px;
}

.w100 {
  position:relative;
  margin-top:6px;
  margin-bottom:6px;
  width: 100%;
}

.w50 {
  width: 50%;
  text-align: center;
}

.tcenter {
  text-align: center;
}

.vertical-controls {
  margin-bottom:20px;
  margin-top:20px;
}

.horizontal-controls {
  margin_bottom:20px;
  margin-top:20px;
}

