body {
  padding: 0px;
  font: 14px "Courier New", Courier,monospace;
  background-color: BLACK;
}
		
a {
  color: #00B7FF;
}
.container{
	width: 1920px;
	height: 1080px;
}

.col-md-6 {
	position: absolute;
	width: 500px;
	font-size: 30px;
	margin-top: 10px;
	margin-left:700px;
	line-height: 70px;
	font-weight: 900;
	font-family: FF DIN;
	color: white;
	text-shadow: 0.1em 0.1em 0.15em #79919E;
}


#chart_div1 {
	margin-top: 30px;
	margin-left: 30px;	
}
#chart_div2 {
	position: absolute;
	margin-left: 360px;
	margin-top: -160px;
}
#chart_div3 {
	position: absolute;
	margin-left: 1290px;
	margin-top: -935px;
}
#chart_div4 {
	position: absolute;
	margin-left: 1610px;
	margin-top: -935px;
}
#chart_div5 {
	position: absolute;
	margin-left: 1290px;
	margin-top: -610px;
}
#chart_div6 {
	position: absolute;
	margin-left: 1610px;
	margin-top: -610px;
}
#chart_div7 {
	position: absolute;
	margin-left: 1290px;
	margin-top: -285px;
}
#chart_div8 {
	position: absolute;
	margin-left: 1610px;
	margin-top: -285px;
}

li {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	float: left;
}
.box1 {
	margin-top: 80px;
	margin-left: 0px;
	width: 495px;
	height: 305px;
  background-color: #D2E0E6;
  padding-top:30px;
  padding-bottom:10px;
	background: #2E2E2E;
	border-radius: 7px;
	display: inline-block;
	float: left;

}
.box1_2 {
	margin-top: 400px;
	margin-left: -495px;
	width: 495px;
	height: 162px;
  background-color: #D2E0E6;
  padding-top:30px;
  padding-bottom:10px;
	background: #2E2E2E;
	border-radius: 7px;
	display: inline-block;

}
#box2 {
	margin-top: -485px;
	margin-left: 510px;
	width: 700px;
	height: 481px;
  background-color: #D2E0E6;
  padding-top:30px;
  padding-bottom:10px;
	border-radius: 7px;
	background: #2E2E2E;

}
#box3 {
	margin-top: 15px;
	margin-left: 0px;
	width: 495px;
	height: 479px;
  background-color: #D2E0E6;
  padding-top:30px;
  padding-bottom:10px;
	background: #2E2E2E;
	border-radius: 7px;
}
#box4 {
	margin-top: -478px;
	margin-left: 510px;
	width: 700px;
	height: 477px;
  background-color: #D2E0E6;
  padding-top:30px;
  padding-bottom:10px;
	background: #2E2E2E;
	border-radius: 7px;
}

.oscope-canvas {
	position: absolute;
	top: 1000px;
	left: 30px;
	width: 550px;
	height: 400px;
	float: left;
	border-radius: 10px;
	border: 8px solid #585858;
}
#chart_div {
	width: 615px;
	position: absolute;
	top: 1110px;
	margin-left: 530px;
	border-radius: 7px;
	background: linear-gradient(#142D3A,#3B618D)fixed;
	}

#box_r1 {
	margin-top: -974px;
	margin-left: 1225px;
	width: 315px;
	height: 315px;
  padding-top:30px;
	background: #2E2E2E;
  padding-bottom:10px;
	border-radius: 7px;
}
#box_r2 {
	margin-top: -315px;
	margin-left: 1555px;
	width: 315px;
	height: 315px;
  padding-top:30px;
	background: #2E2E2E;
  padding-bottom:10px;
	border-radius: 7px;
}
#box_r3 {
	margin-top: 15px;
	margin-left: 1225px;
	width: 315px;
	height: 315px;
	background: #2E2E2E;
  padding-top:30px;
  padding-bottom:10px;
	border-radius: 7px;
}
#box_r4 {
	margin-top: -315px;
	margin-left: 1555px;
	width: 315px;
	height: 315px;
	background: #2E2E2E;
  padding-top:30px;
  padding-bottom:10px;
	border-radius: 7px;
}
#box_r5 {
	margin-top: 15px;
	margin-left: 1225px;
	width: 315px;
	height: 315px;
	background: #2E2E2E;
  padding-top:30px;
  padding-bottom:10px;
	border-radius: 7px;
}
#box_r6 {
	margin-top: -315px;
	margin-left: 1555px;
	width: 315px;
	height: 315px;
	background: #2E2E2E;
  padding-top:30px;
  padding-bottom:10px;
	border-radius: 7px;
}

.tcenter {
  text-align: center;

}

.btn-margin {
	width:50px;
	height: 43px;
  margin-top:4px;
  margin-bottom: 2px;
	border-width: 3px;

}
.control-margin {
	margin-bottom:15px;
  margin-top:15px;

}
#cursorSelect{
}
#cursor {
	margin-top: 5px;
	width: 110px; 
}

#footer {
  position: fixed;
  bottom:0;
  width: 1000px;
	position: absolute;
}


.inputCode{
	background-color: white; /* Green */
	border-width: 3px;
}

.btnCodeRead {
	width: 40pt;
  background-color: indianred;
	border-width: 3px;

}

.btnCodeWrite {
	width: 40pt;
	background-color: forestgreen; /* Green */
	border-width: 3px;
}


#test1 {
  position: absolute;
	width: 250px;
  top: 0px;
}

.inputCode {
	width: 60px;
	margin-left:80px;
}



button1::-moz-focus-inner {
  border: 0; }

button.punch1 {
  background: #4162a8;
  border-top: 1px solid #38538c;
  border-right: 1px solid #1f2d4d;
  border-bottom: 1px solid #151e33;
  border-left: 1px solid #1f2d4d;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
  box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
  color: #fff; 
  font: bold 20px/1 "helvetica neue", helvetica, arial, sans-serif;
  margin-bottom: 10px;
  padding: 10px 0 12px 0;
  text-align: center;
  text-shadow: 0 -1px 1px #1e2d4d;
  width: 150px;
  -webkit-background-clip: padding-box; }
  button.punch1:hover {
    -webkit-box-shadow: inset 0 0 20px 1px #87adff, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
    box-shadow: inset 0 0 20px 1px #87adff, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
    cursor: pointer; }
  button.punch1:active {
    -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    margin-top: 58px; } 






/*
.container_btn{
	  background-color: #252525;
    width: 0px;
    height: 0px;
    margin-left: 500px;
    margin-top: 100px;
	  -webkit-box-shadow: inset 0px 2px 0px #585858, 1px 1px 0px #000, 2px 2px 5px #000;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200p;
    -moz-box-shadow: inset 0px 2px 0px #585858, 1px 1px 0px #000, 2px 2px 5px #000;
    box-shadow: inset 0px 2px 0px #585858, 1px 1px 0px #000, 2px 2px 5px #000;
    -webkit-box-shadow: 1px 1px 0px #5d5d5d;
    -moz-box-shadow: 1px 1px 0px #5d5d5d;
    box-shadow: 1px 1px 0px #5d5d5d;

}
.hole {
    background-color: #151515;
    width: 110px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    top: 12px;
    position: relative;
    -webkit-border-radius: 155px;
    -moz-border-radius: 155px;
    border-radius: 155px;
}

.button {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    cursor: pointer;
    top: -5px;
    position: relative;
    background-image: linear-gradient(bottom, rgb(82,79,82) 0%, rgb(134,134,134) 57%);
    background-image: -o-linear-gradient(bottom, rgb(82,79,82) 0%, rgb(134,134,134) 57%);
    background-image: -moz-linear-gradient(bottom, rgb(82,79,82) 0%, rgb(134,134,134) 57%);
    background-image: -webkit-linear-gradient(bottom, rgb(82,79,82) 0%, rgb(134,134,134) 57%);
    background-image: -ms-linear-gradient(bottom, rgb(82,79,82) 0%, rgb(134,134,134) 57%);
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
    -webkit-box-shadow: inset 0px 2px 0px #a8a8a8, 0px 2px 0px #2a2a2a, 0px 3px 0px #2a2a2a, 0px 4px 0px #2a2a2a, 0px 5px 0px #2a2a2a, 0px 6px 0px #2a2a2a, 0px 7px 0px #2a2a2a, 0px 8px 0px #2a2a2a, 0px 9px 0px #2a2a2a, 0px 10px 0px #2a2a2a, 10px 20px 10px #000;
    -moz-box-shadow: inset 0px 2px 0px #a8a8a8, 0px 2px 0px #2a2a2a, 0px 3px 0px #2a2a2a, 0px 4px 0px #2a2a2a, 0px 5px 0px #2a2a2a, 0px 6px 0px #2a2a2a, 0px 7px 0px #2a2a2a, 0px 8px 0px #2a2a2a, 0px 9px 0px #2a2a2a, 0px 10px 0px #2a2a2a, 10px 20px 10px #000;
    box-shadow: inset 0px 2px 0px #a8a8a8, 0px 2px 0px #2a2a2a, 0px 3px 0px #2a2a2a, 0px 4px 0px #2a2a2a, 0px 5px 0px #2a2a2a, 0px 6px 0px #2a2a2a, 0px 7px 0px #2a2a2a, 0px 8px 0px #2a2a2a, 0px 9px 0px #2a2a2a, 0px 10px 0px #2a2a2a, 10px 20px 10px #000;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}
.button:active {
    top: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: inset 0px 2px 0px #a8a8a8;
}
.triangle {
    width: 0px;
    height: 0px;
    margin-left: 50%;
    margin-top: 50%;
    left: -27px;
    top: -50px;
    position: relative;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 80px solid #22a9db;
    z-index: 2;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.button:hover #triangle { border-left: 80px solid #45bde9 }
.button:active #triangle { border-left: 80px solid #e94545 }
.lighter_triangle {
    width: 0px;
    height: 0px;
    margin-left: 50%;
    margin-top: 50%;
    left: -20px;
    top: -33px;
    position: absolute;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 50px solid #43c0ee;
    z-index: 1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.button:hover #lighter_triangle { border-left: 50px solid #8bdaf7 }
.button:active #lighter_triangle { border-left: 50px solid #f78b8b }
.darker_triangle {
    width: 0px;
    height: 0px;
    margin-left: 50%;
    margin-top: 50%;
    left: -20px;
    top: -33px;
    position: absolute;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 50px solid #0a7da7;
    z-index: 1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.button:hover #darker_triangle { border-left: 50px solid #1d98c5 }
.button:active #darker_triangle { border-left: 50px solid #c51d1d }



.container_btn2{
	  background-color: #252525;
    width: 0px;
    height: 0px;
    margin-left: 500px;
    margin-top: 100px;
	  -webkit-box-shadow: inset 0px 2px 0px #585858, 1px 1px 0px #000, 2px 2px 5px #000;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200p;
    -moz-box-shadow: inset 0px 2px 0px #585858, 1px 1px 0px #000, 2px 2px 5px #000;
    box-shadow: inset 0px 2px 0px #585858, 1px 1px 0px #000, 2px 2px 5px #000;
}
.hole2 {
    background-color: #151515;
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    top: 12px;
    position: relative;
    -webkit-border-radius: 155px;
    -moz-border-radius: 155px;
    border-radius: 155px;
    -webkit-box-shadow: 1px 1px 0px #5d5d5d;
    -moz-box-shadow: 1px 1px 0px #5d5d5d;
    box-shadow: 1px 1px 0px #5d5d5d;
}

.button2 {
    width: 70px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    cursor: pointer;
    top: -5px;
    position: relative;
    background-image: linear-gradient(bottom, rgb(82,79,82) 0%, rgb(134,134,134) 57%);
    background-image: -o-linear-gradient(bottom, rgb(82,79,82) 0%, rgb(134,134,134) 57%);
    background-image: -moz-linear-gradient(bottom, rgb(82,79,82) 0%, rgb(134,134,134) 57%);
    background-image: -webkit-linear-gradient(bottom, rgb(82,79,82) 0%, rgb(134,134,134) 57%);
    background-image: -ms-linear-gradient(bottom, rgb(82,79,82) 0%, rgb(134,134,134) 57%);
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
    -webkit-box-shadow: inset 0px 2px 0px #a8a8a8, 0px 2px 0px #2a2a2a, 0px 3px 0px #2a2a2a, 0px 4px 0px #2a2a2a, 0px 5px 0px #2a2a2a, 0px 6px 0px #2a2a2a, 0px 7px 0px #2a2a2a, 0px 8px 0px #2a2a2a, 0px 9px 0px #2a2a2a, 0px 10px 0px #2a2a2a, 10px 20px 10px #000;
    -moz-box-shadow: inset 0px 2px 0px #a8a8a8, 0px 2px 0px #2a2a2a, 0px 3px 0px #2a2a2a, 0px 4px 0px #2a2a2a, 0px 5px 0px #2a2a2a, 0px 6px 0px #2a2a2a, 0px 7px 0px #2a2a2a, 0px 8px 0px #2a2a2a, 0px 9px 0px #2a2a2a, 0px 10px 0px #2a2a2a, 10px 20px 10px #000;
    box-shadow: inset 0px 2px 0px #a8a8a8, 0px 2px 0px #2a2a2a, 0px 3px 0px #2a2a2a, 0px 4px 0px #2a2a2a, 0px 5px 0px #2a2a2a, 0px 6px 0px #2a2a2a, 0px 7px 0px #2a2a2a, 0px 8px 0px #2a2a2a, 0px 9px 0px #2a2a2a, 0px 10px 0px #2a2a2a, 10px 20px 10px #000;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}
.button2:active {
    top: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: inset 0px 2px 0px #a8a8a8;
}
.triangle2 {
    width: 0px;
    height: 0px;
    margin-left: 50%;
    margin-top: 50%;
    left: -27px;
    top: -50px;
    position: relative;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 80px solid #22a9db;
    z-index: 2;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.button2:hover #triangle { border-left: 80px solid #45bde9 }
.button2:active #triangle { border-left: 80px solid #e94545 }

.lighter_triangle2 {
    width: 0px;
    height: 0px;
    margin-left: 50%;
    margin-top: 50%;
    left: -20px;
    top: -33px;
    position: absolute;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 50px solid #43c0ee;
    z-index: 1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.button2:hover #lighter_triangle { border-left: 50px solid #8bdaf7 }
.button2:active #lighter_triangle { border-left: 50px solid #f78b8b }
.darker_triangle2 {
    width: 0px;
    height: 0px;
    margin-left: 50%;
    margin-top: 50%;
    left: -20px;
    top: -33px;
    position: absolute;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 50px solid #0a7da7;
    z-index: 1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.button2:hover #darker_triangle { border-left: 50px solid #1d98c5 }
.button2:active #darker_triangle { border-left: 50px solid #c51d1d }

*/



.btn_box{
	position: absolute;
	display: inline-block;
	width: 1600px;
	height: 520px;
	margin-top: -550px;	
	margin-left: 20px;

}
#btnbox_div1 {
	position: absolute;
	width: 700px;
	height: 400px;	
	margin-top:  100px;
	margin-left: -100px;
}
#btnbox_div2 {
	position: absolute;
	width: 900px;
	height: 500px;	
	margin-left: 600px;
	margin-top: -25px;
}
#title_1{
	position: absolute;
	width: 350px;
	height: 60px;
	margin-top: -70px;
	margin-left: 350px;
	background: #597F99;
	border: 3px solid #2E2E2E;
	font-size: 25px;
	text-align: center;
	line-height: 50px;
	font-weight: 700;
	font-family: FF DIN;
}
#title_2{
	position: absolute;
	width: 350px;
	height: 60px;
	margin-top: -70px;
	margin-left: 1100px;
	background: #597F99;
	border: 3px solid #2E2E2E;
	font-size: 25px;
	text-align: center;
	line-height: 50px;
	font-weight: 700;
	font-family: FF DIN;
}
#btn1{
	margin-top: -10px;
	margin-left: 150px;
}
#btn2{
	margin-top: 0px;
	margin-left: 350px;
}
#btn3{
	margin-top: 00px;
	margin-left: 550px;
}
#btn4{
	margin-top: 220px;
	margin-left: 150px;
}
#btn5{
	margin-top: 0px;
	margin-left: 350px;
}
#btn6{
	margin-top: 0px;
	margin-left: 550px;
}


#btn9{
	margin-top: 80px;
	margin-left: 80px;
}
#btn10{
	margin-top: 0px;
	margin-left: 220px;
}
#btn11{
	margin-top: 0px;
	margin-left: 360px;
}
#btn12{
	margin-top: 0px;
	margin-left: 500px;
}
#btn13{
	margin-top: 160px;
	margin-left: 80px;
}
#btn14{
	margin-top: 0px;
	margin-left: 220px;
}
#btn15{
	margin-top:  0px;
	margin-left: 360px;
}
#btn16{
	margin-top: 0px;
	margin-left: 500px;
}
#btn17{
	margin-top: 370px;
	margin-left: 680px;
}
#btn18{
	margin-top: 0px;
	margin-left: 820px;
}
#btn19{
	margin-top: 0px;
	margin-left: 960px;
}
#btn20{
	margin-top: 0px;
	margin-left: 1100px;
}


.namebox1{
	margin-top: 1000px;
	font-family: FF DIN;
	font-size: 25px;
	font-weight: 600;
	color: #040F17;	
	text-shadow: 0.1em 0.1em 0.15em #79919E;
}
#name1{
	margin-top: -290px;
	margin-left: 70px;
	}
#name2{
	margin-top: -33px;
	margin-left: 270px;
}
#name3{
	margin-top: -33px;
	margin-left: 470px;
}
#name4{
	margin-top: 170px;
	margin-left: 70px;
}
#name5{
	margin-top: -33px;
	margin-left: 270px;
}
#name6{
	margin-top: -33px;
	margin-left: 470px;
}


.namebox2{
	margin-top: 1000px;
	font-weight: 600;
	color: #040F17;	
	font-family: FF DIN;
	font-size: 25px;
	text-shadow: 0.1em 0.1em 0.15em #79919E;
}
#name9{
	margin-top: -350px;
	margin-left: 70px;
}
#name10{
	margin-top: -35px;
	margin-left: 200px;
}
#name11{
	margin-top: -35px;
	margin-left: 330px;
}
#name12{
	margin-top: -35px;
	margin-left: 460px;
}
#name13{
	margin-top: 110px;
	margin-left: 70px;
}
#name14{
	margin-top: -35px;
	margin-left: 200px;
}
#name15{
	margin-top: -35px;
	margin-left: 330px;
}
#name16{
	margin-top: -35px;
	margin-left: 460px;
}
#name17{
	margin-top: 110px;
	margin-left: 70px;
}
#name18{
	margin-top: -35px;
	margin-left: 200px;
}
#name19{
	margin-top: -35px;
	margin-left: 330px;
}
#name20{
	margin-top: -35px;
	margin-left: 460px;
}

.namebox3{
	margin-top: 110px;
	font-weight: 600;
	color: #040F17;	
	font-family: FF DIN;
	font-size: 25px;
	text-shadow: 0.1em 0.1em 0.15em #79919E;
}
#chart_name1{
	margin-top: 55px;
	margin-left: 160px;
}
#chart_name2{
	margin-top: -34px;
	margin-left: 410px;
}
#chart_name3{
	width: 100px;
	margin-top: -185px;
	margin-left: 740px;
}
#chart_name4{
	width: 100px;
	margin-top: -34px;
	margin-left: 1060px;
}
#chart_name5{
	width: 100px;
	margin-top: 290px;
	margin-left: 740px;
}
#chart_name6{
	width: 100px;
	margin-top: -34px;
	margin-left: 1060px;
}
#chart_name7{
	width: 100px;
	margin-top: 290px;
	margin-left: 740px;
}
#chart_name8{
	width: 100px;
	margin-top: -34px;
	margin-left: 1060px;
}



.button, .button:before, .button:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 35px;
}

.button {
    font-family: 'pictos';
    font-size: 45px;
    line-height: 40px;
    text-align: center;
    color: rgba(0,0,0,0.5);
    text-shadow: rgba(0,0,0,0.1) 0px -2px 1px, rgb(255,255,255) 0px 1px 2px;
    
    width: 60px;
    height: 60px;
    padding: 10px;
    margin: 50px auto;
    position: static;
    z-index: 50;
    cursor: pointer;
    margin-top: 50px;
    
    background-color: transparent;
    border: rgba(0,0,0,0.3) 1px solid;
    border-top-color: rgba(0,0,0,0.1);
    border-left-color: rgba(0,0,0,0.2);
    border-right-color: rgba(0,0,0,0.2);
    border-bottom-color: rgba(0,0,0,0.3);
    box-shadow: inset rgba(255,255,255,0.3) -5px -30px 10px,
                inset rgba(255,255,255,0.3) 0px 30px 10px,
                inset rgba(255,255,255,1) 0px 2px 1px,
                rgba(0,0,0,0.4) 0px 10px 15px;
    -webkit-transition: -webkit-box-shadow 0s ease-in-out;
     -khtml-transition:  -khtml-box-shadow 0s ease-in-out;
       -moz-transition:    -moz-box-shadow 0s ease-in-out;
         -o-transition:      -o-box-shadow 0s ease-in-out;
            transition:         box-shadow 0s ease-in-out;
    
    background-image:   -webkit-radial-gradient(  50%   0%,  8% 50%, hsla(0,0%,100%,.2) 0%, hsla(0,0%,100%,0) 100%),
                        -webkit-radial-gradient(  50% 100%, 12% 50%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 100%),
                        -webkit-radial-gradient(   0%  50%, 50%  7%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 100%),
                        -webkit-radial-gradient( 100%  50%, 50%  5%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 100%),
                        
                        -webkit-repeating-radial-gradient(  50% 50%, 100% 100%, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   3%, hsla(0,0%,  0%,.1) 3.5%),
                        -webkit-repeating-radial-gradient(  50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%,.1) 7.5%),
                        -webkit-repeating-radial-gradient(  50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,0) 2.2%);
                        
}

.button:before, .button:after {
    content: "";
    display: block;
    position: absolute;
}

.button:before {
    z-index: -50;
    width: 60px;
    height: 64px;
    
    margin-top: -15px;
    margin-left: -11px;
    
    background: #666666;
    background: -moz-linear-gradient(left, #666666 0%, #bbbbbb 50%, #666666 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#666666), color-stop(50%,#bbbbbb), color-stop(100%,#666666));
    background: -webkit-linear-gradient(left, #666666 0%,#bbbbbb 50%,#666666 100%);
    background: -o-linear-gradient(left, #666666 0%,#bbbbbb 50%,#666666 100%);
    background: -ms-linear-gradient(left, #666666 0%,#bbbbbb 50%,#666666 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#666666',GradientType=1 );
    background: linear-gradient(left, #666666 0%,#bbbbbb 50%,#666666 100%);
    
    box-shadow: #000 0px 0px 2px;
}
.button:after {
    z-index: -100;
    width: 70px;
    height: 70px;
    margin-top: -60px;
    margin-left: -16px;
    background: rgba(0,0,0,0.1);
    
    box-shadow: inset rgba(255,255,255,0.1) 0px -5px 5px,
                rgba(0,0,0,0.1) 0px 3px 3px,
                rgba(255,255,255,0.05) 0px -3px 3px;
}
.button:hover {
    color: rgba(0,0,0,0.6);
    text-shadow: rgb(255,255,255) 0px 0px 3px;
    box-shadow: inset rgba(255,255,255,0.4) 0px -30px 15px,
                inset rgba(255,255,255,0.2) -25px 25px 10px,
                inset rgba(255,255,255,1) 0px 2px 1px,
                rgba(0,0,0,0.4) 0px 10px 15px;
}
.button:active {
    margin-top: 46px;
    color: #fff;
    box-shadow: inset rgba(255,255,255,0.4) 0px -30px 15px,
                inset rgba(255,255,255,0.2) -25px 25px 10px,
                inset rgba(255,255,255,1) 0px 2px 1px,
                rgba(0,0,0,0.4) 0px 2px 3px;
}
.button:active:before {
    height: 60px;
    margin-top: -11px;
}
.button:active:after {
    margin-top: -56px;
}




.button_box1{
	margin-top: 1000px;
	width: 600px;
	height: 380px;
}
#button_1{
	margin-top: 60px;
	margin-left: 70px;
}
#button_2{
	margin-top: -110px;
	margin-left: 270px;
}
#button_3{
	margin-top: -110px;
	margin-left: 470px;
}
#button_4{
	margin-top: 150px;
	margin-left: 70px;
}
#button_5{
	margin-top: -110px;
	margin-left: 270px;
}
#button_6{
	margin-top: -110px;
	margin-left: 470px;
}


.button_box2{
	margin-top: 1000px;
	width: 600px;
	height: 430px;
}
#button_7{
	margin-top: 40px;
	margin-left: 70px;
}
#button_8{
	margin-top: -110px;
	margin-left: 200px;
}
#button_9{
	margin-top: -110px;
	margin-left: 330px;
}
#button_10{
	margin-top: -110px;
	margin-left: 460px;
}
#button_11{
	margin-top: 80px;
	margin-left: 70px;
}
#button_12{
	margin-top: -110px;
	margin-left: 200px;
}
#button_13{
	margin-top: -110px;
	margin-left: 330px;
}
#button_14{
	margin-top: -110px;
	margin-left: 460px;
}
#button_15{
	margin-top: 80px;
	margin-left: 70px;
}
#button_16{
	margin-top: -110px;
	margin-left: 200px;
}
#button_17{
	margin-top: -110px;
	margin-left: 330px;
}
#button_18{
	margin-top: -110px;
	margin-left: 460px;
}




.sliderBounds {
   width: 95px;
   margin: 6px 3px 6px 6px;
	display: inline-block;
}
.optionContainer {
   width: 154px;
   margin: 2px;
	padding: 2px;
	display: inline-block;
	border: 1px solid #e0e0e0;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}





#amchart{
	width: 100#;
	height: 350px;
	margin-top: 1100px;
	margin-left: -200px;
}

#divbox2{
	margin-left: 710px;
}
