html, body {
	width:100%;
	height:100%;
}

label {
	color:yellow;
}

textarea {
	color: black;
}

.container {
	width: 1300px;
	margin:0px auto;
}

.timeRecord {
	height:50;
	width:25%;
	align:center;
}

.wrapper1{
	display: grid;
	grid-template-columns:repeat(4,1fr);
	grid-gap:0px;
	grid-auto-rows:minmax(102px,auto);
	justify-content:center;
}
.g1-one {
	grid-area:1 / 1 / 3 / 2; 
}
.g1-two {
	grid-column: 1 / 2;
	grid-row	  : 2 / 4;
}
.g1-three {
	grid-area: 1 / 2 / 4/ 4;
}
.g1-four {
	grid-column: 2 / 4;
	grid-row	  : 3 / 4;
}
.g1-five {
	grid-column: 4;
	grid-row	  : 1 / 3;
}
.g1-six {
	grid-column: 4;
	grid-row	  : 2 / 4;
}

#tabG2 {
	width:100%;
	border-spacing:20px;
	padding:20px;
}

#tabG2 td{
	border-spacing:10px;
	padding:5px;
}

.wrapper2{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap:5px;
	grid-auto-rows:minmax(200px,auto);
	justify-content:end;
}

.g2-one {
	grid-column: 1;
	grid-row	  : 1 / span 2;
}
.g2-two {
	grid-column: 2 / 4;
	grid-row	  : 1 / span 2;
}
.g2-three {
	grid-column: 4 ;
	grid-row	  : 1 ;
}




